	<head>
		<style>
			.bg{
				background-image: url("/images/20.gif");
				background-position: center;
			}
		</style>
	</head>
	<body class="bg">
		<form name="clgfilter" action="CollegeBasedFilter" method="get">
	<tr><td><font color="orange">Choose the College<br></td>
		<select name="clg">
		<option value="IIT,Kanpur">IIT,Kanpur</option>
		<option value="MSEC,Virudhunagar">MSEC,Virudhunagar</option>
		<option value="TCE,Madurai">TCE,Madurai</option>
		<option value="CIT,Coimbatore">CIT,Coimbatore</option>
		<option value="PSG,Coimbatore">PSG,Coimbatore</option>
		<option value="UCEN,Nagercoil">UCEN,Nagercoil</option>
		<option value="SXCCE,Kanyakumari">SXCCE,Kanyakumari</option>
		<option value="VIT,Chennai">VIT,Chennai</option>
		<option value="MIT,Chennai">MIT,Chennai</option>
		<option value="SRM,Chennai">SRM,Chennai</option>
		</select>	
			<tr><input type="submit" value="Filter"/>
</font>
	</body>
