	<head>
		<style>
			.bg{
				background-image: url("/images/20.gif");
				background-position: center;
				color: orange;
			}
		</style>
	</head>
	<body class="bg">
	<form name="cutofffilter" action="CutoffBasedFilter" method="get">
	Engg. Cut-off:
	<input type="number" min='190' max='200' name="coff"/>
	<br>
	<input type="submit" value="Filter"/>
	</body>
